.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
  }
  
  .grid-item {
    grid-column: auto;
  }
  
  .grid-item:nth-child(n+6) {
    grid-column: 1 / -1;
  }